data/words/
data/test_images/
data/prescription-sample/
data/words.txt
data/*.tgz
data/*.zip

model/checkpoint
model/*.zip
model/snapshot-*
model/trained*
notes/

src/__pycache__/
src/*.pyc

dump/

__pycache__/

*.so
*.pyc
*.tgz
.idea/
